/*
Theme Name: Twenty Seventeen Child
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: Sergey Fesenko
Author URI: https://wordpress.org/
Template:     twentyseventeen
Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

*/

.footer-right {
    float:right;
}
.footer-right > span {
    display:block;
}
.footer-right > a.phone,
.footer-right > a.email {
    display:none;
}
.footer-right .button {
    display:inline-block;
    margin:0.5em 0;
    padding:0.5em 1em;
    background:#000;
    color:#fff;
    font-weight:bold;
}
/* MODAL */
.footer-contact-overlay {
    display:none;
    background:rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    cursor:pointer;
}
.footer-contact-modal {
    display:none;
    background:#fff;
    position:fixed;
    top:20%;
    left:50%;
    width:300px;
    height:200px;
    padding:20px;
    margin-left:-150px;
    box-sizing:border-box;
    z-index:9999;
}
/* -MODAL */
@media (max-width:768px) {
    .footer-right {
        float:none;
        margin-bottom:2em;
    }
    .footer-right > span {
        display:none;
    }
    .footer-right > a.phone,
    .footer-right > a.email {
        display:block;
    }
    .footer-right .button {
        display:block;
        text-align:center;
        margin:0 0 1em 0;
        padding:0.5em;
    }
}

/* RTL */
.rtl .widget .product_list_widget li a.remove {
    float:left;
}
.rtl.has-sidebar #primary {
    float:right;
}
.rtl.has-sidebar #secondary {
    float:left;
}
.rtl .widget_product_search .search-field {
    padding-left:100px;
    padding-right:0.7em;
}
.rtl .widget_product_search input[type=submit] {
    left:0.5em;
    right:auto;
}
.rtl.woocommerce #content div.product div.thumbnails a,
.rtl.woocommerce div.product div.thumbnails a,
.rtl.woocommerce-page #content div.product div.thumbnails a,
.rtl.woocommerce-page div.product div.thumbnails a {
    float:right;
    margin-right:0;
    margin-left:3.8%;
}
.rtl.single-product .woocommerce-product-rating .star-rating {
    float:right;
}
.rtl .star-rating::before,
.rtl .star-rating span,
.rtl .star-rating span::before {
    right:0;
    left:auto;
}
.rtl h3:after {
    content: "\200E‎";
}
/* -RTL */
.single-product form.cart {
    margin-bottom:2em;
}
.shop_table_responsive thead th {
    word-spacing:10px;
}